<section id="properties" ng-controller="PropertiesCtrl">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <h4 class="ui header">
                    <i class="blue building icon"></i>

                    <div class="content">
                        Properties
                        <div class="sub header">Manage your properties</div>
                    </div>
                </h4>
                <div class="ui divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <div class="ui fluid vertical menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search properties...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    <a href="#/properties/new" class="item">New property <i class="plus icon"></i></a>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui stacked segment">
                    <div class="ui divided list">
                    <div class="item" ng-repeat="property in properties">
                        <a class="right floated compact ui blue basic button" href="#/properties/{{property._id.$oid}}/edit"><i class="eye icon"></i> Edit</a>
                        <a class="right floated compact ui yellow basic button" href="#/properties/{{property._id.$oid}}/flyer"><i class="file icon"></i> Flyer</a>
                        <div class="content aligned">
                            <div class="header">
                                <i class="building outline right icon"></i> <a href="#/properties/{{property._id.$oid}}/flyer">{{ property.address.formatted }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>