<section id="properties" ng-controller="EditPropertyCtrl">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <h4 class="ui header">
                <i class="blue plus icon"></i>
                    <div class="content">
                    New property
                    <div class="sub header">Creating a new property</div>
                    </div>
                </h4>
                <div class="ui divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="eight wide column">
                <form ng-submit="addProperty()">
                    <div class="ui fluid form">
                        <div class="ui top attached segment">
                            <i class="circular inverted green marker icon"></i> Details
                        </div>
                        <div class="ui attached segment">
                            <div class="fields">
                                <div class="twelve wide field">
                                    <div class="ui left icon input">
                                        <i class="marker icon"></i>
                                        <input type="text" ng-model="property.rawAddress" ng-model-options="{'updateOn': 'mousedown blur'}" ng-blur="geocode()" ng-required required placeholder="Street address" id="rawAddress" />
                                    </div>
                                </div>
                                <div class="four wide field">
                                    <select ng-model="property.rawBorough" ng-change="geocode()" ng-required required id="rawBorough">
                                        <option value="">Borough</option>
                                        <option value="Manhattan">Manhattan</option>
                                        <option value="Brooklyn">Brooklyn</option>
                                        <option value="Queens">Queens</option>
                                        <option value="Bronx">Bronx</option>
                                        <option value="Staten Island">Staten Island</option>
                                    </select>
                                </div>
                            </div>
                            <div id="mapCanvas" class="ui segment"></div>
                            <div class="field">
                                <div class="two fluid ui buttons">
                                    <div class="ui toggle button" ng-class="{'active': property.type == 'apartment'}" ng-click="property.type = 'apartment'"><i class="trello icon"></i> Apartment</div>
                                    <div class="ui toggle button" ng-class="{'active': property.type == 'building'}" ng-click="property.type = 'building'"><i class="building icon"></i> Building</div>
                                </div>
                            </div>
                            <div ng-hide="property.type == 'building'">
                                <div class="two fields">
                                    <div class="field">
                                        <label for="property.details.bedrooms">Bedrooms</label>
                                        <select ng-model="property.details.bedrooms" ng-required required id="property.details.bedrooms">
                                            <option value="">Bedrooms</option>
                                            <option value="0">Studio</option>
                                            <option value="1">1 Bed</option>S
                                            <option value="2">2 Beds</option>
                                            <option value="3">3 Beds</option>
                                            <option value="4">4 Beds</option>
                                            <option value="5">5 Beds</option>
                                            <option value="6">6 Beds</option>
                                            <option value="7">7 Beds</option>
                                            <option value="8">8 Beds</option>
                                            <option value="9">9 Beds</option>
                                            <option value="10">10 Beds</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <label for="property.details.bathrooms">Bathrooms</label>
                                        <select ng-model="property.details.bathrooms" ng-required required id="property.details.bathrooms">
                                            <option value="">Bathrooms</option>
                                            <option value="1">1 Bath</option>
                                            <option value="2">2 Baths</option>
                                            <option value="3">3 Baths</option>
                                            <option value="4">4 Baths</option>
                                            <option value="5">5 Baths</option>
                                            <option value="6">6 Baths</option>
                                            <option value="7">7 Baths</option>
                                            <option value="8">8 Baths</option>
                                            <option value="9">9 Baths</option>
                                            <option value="10">10 Baths</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label for="property.details.rent">Rent</label>
                                        <div class="ui left icon input">
                                            <i class="usd icon"></i>
                                            <input type="number" ng-model="property.details.rent" ng-required required min="0" id="property.details.rent" placeholder="Monthly rent">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="property.details.depsoit">Deposit</label>
                                        <div class="ui left icon input">
                                            <i class="usd icon"></i>
                                            <input type="number" ng-model="property.details.depsoit" min="0" ng-required required id="property.details.depsoit" placeholder="Deposit">
                                        </div>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label for="property.details.availability">Availability</label>
                                        <div class="ui left icon input">
                                            <i class="calendar icon"></i>
                                            <input type="date" ng-model="property.details.availability" ng-required required id="property.details.availability">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="property.details.unit">Unit #</label>
                                        <div class="ui left icon input">
                                            <i class="font icon"></i>
                                            <input type="text" ng-model="property.details.unit" maxlength="6" ng-required required id="property.details.unit" placeholder="Unit #">
                                        </div>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label for="property.details.size">Size</label>
                                        <div class="ui right labeled input">
                                            <input type="number" ng-model="property.details.size" id="property.details.size" placeholder="Size">
                                            <div class="ui label">sq<sup>2</sup></div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>No fee?</label>
                                        <div class="ui fluid toggle labeled icon button" ng-class="{'active': property.details.nofee}" ng-click="property.details.nofee = !property.details.nofee">
                                            <i class="check circle outline icon"></i> Yes
                                        </div>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Dogs allowed?</label>
                                        <div class="ui toggle labeled icon fluid button" ng-class="{'active': property.details.dogs}" ng-click="property.details.dogs = !property.details.dogs">
                                            <i class="paw icon"></i> Yes
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Cats allowed?</label>
                                        <div class="ui toggle labeled icon fluid button" ng-class="{'active': property.details.cats}" ng-click="property.details.cats = !property.details.cats">
                                            <i class="paw icon"></i> Yes
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui top attached segment">
                            <i class="circular inverted yellow retro camera icon"></i> Photos
                        </div>
                        <div class="ui attached segment">
                            <div class="ui yellow icon message">
                                <i class="plus icon"></i>
                                <div class="content">
                                    <div class="header">
                                        Click here or drop your photos to upload
                                    </div>
                                    <p>Please only upload high resolution photos in JPEG and PNG formats</p>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="field">
                                <label for="property.details.video">Video tour</label>
                                <div class="ui left icon input">
                                    <i class="video camera icon"></i>
                                    <input type="url" ng-model="property.details.video" id="property.details.video" placeholder="Enter a YouTube or other video link" />
                                </div>
                            </div>
                        </div>

                        <div class="ui top attached segment">
                            <i class="circular inverted blue write icon"></i> Description
                        </div>
                        <div class="ui attached segment">
                            <div class="field" ng-hide="property.type == 'apartment'">
                                <input type="text" ng-model="property.details.name" placeholder="Enter property name" />
                            </div>
                            <div class="field" ng-hide="property.type == 'building'">
                                <div class="ui action input">
                                    <input type="text" ng-model="property.description.headline" placeholder="Enter a headline" />
                                    <div class="ui blue compact icon button" ng-click="title()"><i class="refresh icon"></i></div>
                                </div>
                            </div>
                            <div class="field">
                                <textarea ng-model="property.description.description" ng-required required placeholder="Enter property description"></textarea>
                            </div>
                        </div>

                        <div class="ui top attached segment" ng-show="property.type == 'building'">
                            <i class="circular inverted pink trello icon"></i> Units
                        </div>
                        <div class="ui attached segment" ng-show="property.type == 'building'">
                            Add units
                        </div>

                        <div class="ui top attached segment">
                            <i class="circular inverted teal call icon"></i> Contact information
                        </div>
                        <div class="ui attached segment">
                            <div ng-hide="property.contact.default == true">
                                <div class="ui fluid labeled icon teal toggle button" ng-click="property.contact.default = true">
                                    <i class="call icon"></i> Use my contact information
                                </div>
                                <div class="ui divider"></div>
                                <div class="field">
                                    <label for="property.contact.person">Contact person</label>
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" ng-model="property.contact.person" id="property.contact.person" placeholder="Contact person" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="property.contact.phone">Phone number</label>
                                    <div class="ui left icon input">
                                        <i class="call icon"></i>
                                        <input type="text" ng-model="property.contact.phone" id="property.contact.phone" placeholder="Phone number" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="property.contact.email">Email address</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="email" ng-model="property.contact.email" id="property.contact.email" placeholder="Email address" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="property.contact.website">Website</label>
                                    <div class="ui left icon input">
                                        <i class="linkify icon"></i>
                                        <input type="url" ng-model="property.contact.website" id="property.contact.website" placeholder="Website" />
                                    </div>
                                </div>
                            </div>
                            <div ng-show="property.contact.default == true">
                                <div class="ui teal icon message">
                                    <i class="checkmark icon"></i>
                                    <div class="content">
                                        <div class="header">You're all set here</div>
                                        <p>Pad Flyer will use your contact information on listings. If you would like to enter different contact information, click on the botton below</p>
                                    </div>
                                </div>
                                <div class="ui fluid teal labeled icon toggle button" ng-click="property.contact.default = false">
                                    <i class="write icon"></i> Enter different contact information
                                </div>
                            </div>
                        </div>
                        <div class="ui hidden divider"></div>
                        <button type="submit" class="ui fluid labeled icon big positive button">
                            <i class="checkmark icon"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
            <div class="eight wide column"></div>
        </div>
    </div>
</section>