@import url(http://fonts.googleapis.com/css?family=Carter+One|Roboto);

body {
    background-color: #f5f5f5;
    /*font-family: 'Roboto', sans-serif;*/
    padding-top: 40px;
}

footer {
    height: 60px;
    margin-top: 20px;
}

.brand {
    font-family: 'Carter One', cursive;
}

#auth .brand {
    font-size: 2.5rem;
}

#auth .brand a {
    color: #333333;
}

#navigation {
    margin-bottom: 30px;
}

#mapCanvas {
    height: 200px;
    margin-top: 0;
}