<!DOCTYPE html>
<html ng-app="padflyer">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ escape(handler.settings['app_name']) }}</title>
    <link rel="stylesheet" href="{{ static_url('css/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}">

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?region=US&key=AIzaSyBNXhq3jQYAMnlmd6qLFhLNpi68Buiiu-w"></script>
</head>
<body>
<div class="ui page grid" id="navigation">
    <div class="row">
        <div class="column">
            <div class="ui large inverted menu">
                <a class="brand item" href="#/"><i class='plane icon'></i> {{ escape(handler.settings['app_name']) }}</a>
                <a href="#/" class="item">
                        <i class="dashboard icon"></i> Dashboard
                    </a>
                    <a href="#/properties" class="item">
                        <i class="building icon"></i> Properties
                    </a>
                    <a href="#/" class="item">
                        <i class="file icon"></i> Flyers
                    </a>
                <div class="right menu">
                    <a href="/user/signout" class="ui item">
                        <i class="sign out icon"></i> Sign out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui page grid" ng-view=""></div>

<footer>
    <div class="ui page grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui divider"></div>
            </div>
            <div class="eight wide left aligned column">
                {{ escape(handler.settings['app_name']) }} &copy; 2015
            </div>
            <div class="eight wide right aligned column">
                <div class="ui horizontal link list">
                    <a class="item">Terms</a>
                    <a class="item">Privacy</a>
                    <a class="item">Support</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ static_url('js/semantic.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.min.js"></script>
<script src="{{ static_url('js/app.js') }}"></script>
</body>
</html>