<!DOCTYPE html>
<html ng-app="padflyer">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ escape(handler.settings['app_name']) }}</title>
    <link rel="stylesheet" href="{{ static_url('css/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
</head>
<body>
    <section class="ui page centered grid" id="auth">
        <div class="center aligned row">
            <div class="column">
                <h1 class="brand"><a href="/"><i class='plane icon'></i> {{ escape(handler.settings['app_name']) }}</a></h1>
            </div>
        </div>
        {% block page %}{% end %}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ static_url('js/semantic.min.js') }}"></script>
</body>
</html>