{% extends "layout.html" %}

{% block page %}
<div class="center aligned column row">
    <div class="left aligned five wide column">
        <form class="ui form" action="{{ request.uri }}" method="post" role="form" id="signup">
            {% module FlashModule() %}
            <div class="field">
                <div class="ui left icon huge input">
                    <i class="user icon"></i>
                    <input type="text" name="name" id="name" placeholder="Enter your name"/>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon huge input">
                    <i class="mail icon"></i>
                    <input class="form-control input-lg" type="email" name="email" id="email"
                           placeholder="Enter your email"/>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon huge input">
                    <i class="lock icon"></i>
                    <input class="form-control input-lg" type="password" name="password" id="password"
                           placeholder="Enter your password"/>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon huge input">
                    <i class="lock icon"></i>
                    <input class="form-control input-lg" type="password" name="password_confirmation"
                           id="password_confirmation" placeholder="Enter your password, again"/>
                </div>
            </div>
            <button class="ui huge fluid green button" type="submit">Sign Up</button>
        </form>
    </div>
</div>
<div class="ui horizontal link list">
    <a class="blue item" href="/user/signin">Already signed up?</a>
</div>
{% end %}