<section id="dashboard" ng-controller="DashboardCtrl">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <h4 class="ui header">
                <i class="blue dashboard icon"></i>
                    <div class="content">
                    Dashboard
                    <div class="sub header">Your recent activities</div>
                    </div>
                </h4>
                <div class="ui divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui grid">
                    <div class="row">
                        <div class="four wide column">
                            <div class="ui yellow segment">
                                <div class="ui horizontal statistic">
                                    <div class="value">
                                        <i class="yellow file icon"></i> {{ dashboard['flyers'] }}
                                    </div>
                                    <div class="label">Flyers</div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui blue segment">
                                <div class="ui horizontal statistic">
                                    <div class="value">
                                        <i class="blue building icon"></i> {{ dashboard['properties'] }}
                                    </div>
                                    <div class="label">Properties</div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui red segment">
                                <div class="ui horizontal statistic">
                                    <div class="value">
                                        <i class="red tasks icon"></i> {{ dashboard['units'] }}
                                    </div>
                                    <div class="label">Tasks</div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui green segment">
                                <div class="ui horizontal statistic">
                                    <div class="value">
                                        <i class="green inbox icon"></i> {{ dashboard['leads'] }}
                                    </div>
                                    <div class="label">Leads</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>